.botonpocho {
    background-color: #828282;
}
.clon {
    display: inline;
    width: 500px;
}
.mesabot {
    margin: 10px;
    width: 500px;
    height: 40px;
    font-size: 20px;
    margin:0, auto;
    
    text-align: center;

}
.nopunt {
    list-style-type: none;
    margin:0 auto;
    text-align: center;
    
}
*{
    font-family: 'Montserrat';
}
.mesabot{
    margin:0, auto;
    
    text-align: center;
}
/* .listo {
    margin:0 auto;
    
    text-align: center;
} */
.mesabot:hover{
    background-color: #828282;
}

#pediditos {
    margin-top:20px;
    margin-bottom: 10px;
   

}


.listo{
    margin:0 auto;
    text-align: center;
}
.plato{
    text-align: left;
    margin-left: 20px;
}
/* .lista {
    margin:0 560px;
    text-align: left;
    
} */
.seccion{
    margin-top: 100px;
}
h2 {
    margin:0 600px;

}
